h1 {
    display: grid;
    place-items: center;
    color: red;
    grid-template-columns: 1fr 3fr 400px;
    grid-template-rows: repeat(25px 50px 25px);
    gap: 20px 10px;
    grid-template-areas: ;

}

