.App {
  text-align: center;
  height: 100vh;
  width: 100vh;
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 3;
}

.productCard {
flex-direction: column;
border: solid 1px black;
width: 60%;
margin: 10px;
}

.productContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.homepage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.productButton {
  margin: 10px;
  background-color: rosybrown;
  color: blanchedalmond;
  border: none;
}

.productButton:hover {
  background-color: brown;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}