@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&family=Roboto:ital,wght@1,300&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2F3337;
    font-weight: 300;
}


.para {
  font-size: 30px;
    position: relative;
    line-height: 45px;
    padding: 0 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: auto;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.container {
    color: #EAF6F6;
    flex-wrap: wrap;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vlrLogo {
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}

nav {
    color: #EAF6F6;
    display: flex;
    flex-wrap: wrap;
    line-height: 40px;
    padding: 0 15px;
    font-weight: 200;
    position: relative;
    border-radius: 20px;
}

nav span {
    gap: 15px;
    display: flex;
    flex-direction: row;
}

.para2 {
  font-size: 1.5rem;
}

a {
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    rgb(255, 250, 250) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before{
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before{
  width: 100%;
}


.button-12 {
  padding: 3px 14px;
  font-family: 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}


input {
    font-size: 16px;
    color: #f6f6f6;
    line-height: 1.2;
    height: 20px;
    background: transparent;
    padding: 0 20px 0 23px;
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  border-radius: 50%;
  padding: 15px;
  margin: 54px;
  width: 10px;
  height: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .instagram:hover {
  background-image: linear-gradient(to bottom right, #dd2a7b, #f58529);
}

.wrapper .instagram:hover .fa-instagram::before {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

/* tablets and under */
@media (max-width: 768px) {
.container {
}

.para {
padding: 0 8rem;;
  justify-self: center;
  font-size: 25px;
  font-weight: 600;
  width: 50%;
}

.para2 {
  margin: 50px;
  width: 70%;
  font-size: 20px;
}

nav {
  margin: 40px;
  width: 70%;
  font-size: 20px;
}

.wrapper .icon{
  width: 0px;
  font-size: 20px;
  margin: 32px;
}




}



/* Mobile phones */

@media (max-width: 500px) {
.container {
  flex-direction: row;
}


}