@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&family=Roboto:ital,wght@1,300&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");




body {
    font-family: 'Roboto', sans-serif;
    background-color: #2F3337;
    font-weight: 300;
}

.container {
    color: #EAF6F6;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h3 {
  margin: 0;
  color: #f6f6f6;
  position: relative;
  line-height: 45px;
  padding: 0 15rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: auto;
  align-items: flex-end;
  background-color: #363636;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

nav {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    border-radius: 20px;
}

nav span {
    gap: 20px;
    display: flex;
    flex-direction: row;
}

a.links {
    background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    rgb(255, 255, 255) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

a.links:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

a.links:hover {
    background-position: 0;
}

a.links:hover::before{
    width: 100%;
}


.logo {
    height: 50px;
    width: 50px;
}

input {
    font-size: 16px;
    color: #f6f6f6;
    line-height: 1.2;
    height: 20px;
    background: transparent;
    padding: 0 20px 0 ;
}

button {
display: inline-block;
  padding: .25rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

button::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#0cf, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}

button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
}

button:hover {
  cursor: pointer;
    color: rgb(0, 0, 0);
}

button:hover::before{
  width: 100%;
}

#statsPage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}




.valPlayers {
    border-top:1px solid #5B6167;
    border-bottom:1px solid #5B6167;
    border-left: 1px solid #5B6167;
    border-right: 1px solid #5B6167;
    margin: 0;
    background: #40474F;
    height: auto;
    color: #f6f6f6;
    font-size: 3vh;
    font-weight: 500;
}


.wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.wrapper .icon {
  position: relative;
  border-radius: 50%;
  padding: 15px;
  margin: 60px;
  width: 10px;
  height: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .instagram:hover {
  background-image: linear-gradient(to bottom right, #dd2a7b, #f58529);
}

.wrapper .instagram:hover .fa-instagram::before {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}


@media only screen and (min-width: 310px) and (max-width: 840px) {
  .container{
   width: 200%;
   height: 100%;
 }

 h1 {
    color: #f6f6f6;
    position: relative;
    line-height: 45px;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
#statsPage {
  padding: auto;
  width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.valPlayers {
  width: 100%;
    border-top:1px solid #5B6167;
    border-bottom:1px solid #5B6167;
    border-left: 1px solid #5B6167;
    border-right: 1px solid #5B6167;
    background: #40474F;
    height: auto;
    color: #f6f6f6;
    font-size: 3vh;
    font-weight: 500;
}

}