  @import url(https://allfont.net/allfont.css?fonts=star-jedi);

body {
  margin: 0;
  font-family: 'Star Jedi', arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/StarfieldSimulation004.gif");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-weight: 400;
  height: 100vh;
  width: auto; 
}

code {
  font-family: 'Star Jedi', arial;
}
