body {
    background: #a0a2fc;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.mario{
    width: 240px;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;

}
.hat_1{
    height: 20px;
    width: 20px;
    background: red;
    
}
.hat_2{
    height: 20px;
    width: 20px;
    background: red;
}

