body {
  background-color: yellow;
}

h2 {
  color: red;
}
.mobile-container {
  display: none;
}

@media screen and (max-width: 600px) {
  h2 {
    color: green;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .container {
    display: none;
    /* justify-content: space-around;
    text-align: center;
    flex-direction: column;
    color: aqua;
    font-size: 30px; */
  }
  .mobile-container {
    display: flex;
  }
}
